.paddingderecho {
  padding-right: 2%;
  font-size: 50%;
}

.menufont {

  font-family: 'PT Sans', sans-serif;

}

.naranjito {

  color: orange;
}

body { 
background-color: rgb(241,229,215);
}

.letrasblancas {

  color: white;

}

.elementosjustificados {
  margin-top: 10%;
  padding: 2%;
  background-color: rgb(248, 225, 217);
}
.elementosjustificados2 {
  margin-top: 0%;
  padding: 2%;
  background-color: rgb(243, 208, 197);
  border-top-style:solid;
  border-top-color: rgb(246, 197, 217) ;
  border-top-width: 10px;

}
.paddingsuperior {
padding-top: 7% ;

}


/* css de galeria de fotos  */ 
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

/* fin css de galeria de fotos */ 


/*--CARRUSEL--*/
.carousel{
  margin: 3%;
  width: 65%;   
  border-style: outset;  
  
  }
  /*--CARRUSEL--*/
  /*--Foto texto 1 & 2--*/
  .fotoPerro1{
      border-radius: 7%;
      border-style: inset;
  }
  .fotoGato1{
  
    border-radius: 7%;
    border-style: inset;
  }
  .textoGatoPerro{
      font-size: 130%;
      text-align: justify;
      font-family: 'BIZ UDPMincho', serif;    
      padding-left: 10%;
      padding-right: 10%;
  }
