<!DOCTYPE html>

{% load static %}


<html lang="en">
  <head>
    <!--metadatos-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

    <!--mi estilo css-->
    <link type="text/css" rel="stylesheet" href="{% static 'prueba3/css/estilo.css' %}">

     <!--Favicon-->
  <link rel="icon" href="{% static 'prueba3/img/huella.png' %}">


  <!-- iconos -->
  <link href="{% static 'prueba3/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/solid.css' %}" rel="stylesheet">

  <title>Home - Jungle Crew</title>

</head>

<!--Comienzo body-->

<body>

  <!--nav bar-->

  <nav class="navbar navbar-expand-lg navbar-custom menufont fixed-top">
    <div class="container-md">

      <!--Logo-->
      <a class="navbar-brand">
        <i width="30" height="25" class="fa-solid fa-paw d-inline-block align-text-top"></i>
      </a>

      <!--Menu-->
      <a class="navbar-brand">Jungle Crew</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--opciones menu-->

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Inicio</a>
          </li>
          <!--menu desplegable-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ¡Conócenos!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./quienessomos.html">Quienes somos.</a>
              <a class="dropdown-item" href="./mision.html">Nuestra misión</a>
              <a class="dropdown-item" href="./vision.html">Nuestra visión.</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disable" aria-current="page">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./adoptados.html">Perritos Adoptados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./formulario.html">Contacto</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="./registrousuario.html">Registratre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./mostrardatos.html">Usuarios</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <!--fin menu-->

    <!-- Aquí va el contenido -->

<section id="about">
  <div class="container">
    <div class="row align-items-center gy-5">
      <div class="col-lg-5 ">
          <img class="img-fluid" src="{% static 'prueba3/img/productos.jpg' %}" alt="">
      </div>
      <div class="col-lg-5 ">
          <h6>Productos importados.</h6>
          <h1 class="mt-2 mb-4">NUESTROS PRODUCTOS</h1>
          <p class="mb-4">Revisa la variedad de productos para mascotas que nuestra tienda ofrece y recuerda que <b>Jungle Crew</b> dona todo lo recaudado a la ONG <i>Quiltritro</i>.</p>
      </div>
    </div>
  </div>
</section>


   <!-- Galeria -->
<section id="about">
  <div class="container">
    <div class="row align-items-center gy-5">
      <div class="container-md pt-5 pb-5">
        <div class="row">
    
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img src="{% static 'prueba3/img/producto1.jpg' %}">
                    </a>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-random"></i></a></li>
                    </ul>
                    <a href="" class="add-to-cart">
                    <p> Alimento - perros pequeños en edad adulta.</p>
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Purina Dog Chow - Saco 15 kg.</a></h3>
                    <div class="price">$40.000</div>
                </div>
            </div>
        </div>
    
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img src="{% static 'prueba3/img/producto2.jpg' %}">
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fa fa-heart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
                  <a href="" class="add-to-cart">
                  <p>Alimento en lata para gatos entre 1 a 2 años.</p>
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Lata de atún Félix.</a></h3>
                  <div class="price">$1.200</div>
              </div>
          </div>
      </div>
    
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img src="{% static 'prueba3/img/producto3.jpg' %}">
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fa fa-heart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
                  <a href="" class="add-to-cart">
                  <p>Cama para gato hecha con materiales 100% algodón.</p>
                  </a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Cama iglú gato 60*30 cm.</a></h3>
                  <div class="price">$15.000</div>
              </div>
          </div>
      </div>
    
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="{% static 'prueba3/img/producto4.jpg' %}">
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
                <a href="" class="add-to-cart">
                <p>Antigarrapatas y pulgas (uso en perros)</p>
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Frontline - Spray.</a></h3>
                <div class="price">$18.000</div>
            </div>
        </div>
      </div>
    
      <div class="col-md-3 col-sm-6 pt-1">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="{% static 'prueba3/img/producto6.jpg' %}">
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
                <a href="" class="add-to-cart">
                <p>Collar con placa totalmente personalizable.</p>
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Collar para gato ( 30 cm ).</a></h3>
                <div class="price">$4.000</div>
            </div>
        </div>
      </div>
    
      <div class="col-md-3 col-sm-6 pt-1">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="{% static 'prueba3/img/producto5.jpg' %}">
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul>
                <a href="" class="add-to-cart">
                <p>Parka para perro.</p>
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Ropa para perro - Parka (talla L) </a></h3>
                <div class="price">$7.990</div>
            </div>
        </div>
      </div>
    
    
      </div>
      </div>
    </div>
  </div>
</section>

<!-- Aquí termina el contenido -->

<!--footer-->

<div class="footer-basic fondonaranjo">
  <footer>
    
        <a href="index.html">
          <h1 class="text-center"> <i class="fa-solid fa-paw"></i> Jungle Crew </h1>
        </a>
    
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html">INICIO</a></li>
            <li class="list-inline-item"><a href="quienessomos.html">QUIENES SOMOS</a></li>
            <li class="list-inline-item"><a href="vision.html">NUESTRA VISIÓN</a></li>
            <li class="list-inline-item"><a href="mision.html">NUESTRA MISIÓN</a></li>
            <li class="list-inline-item"><a href="galeria.html">PRODUCTOS</a></li>
          </ul>
    
          <div class="social">
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
          </div>
    
          <p class="copyright">Derechos reservados © 2020</p>
          <p class="copyright">Jordan Flores - Ignacio Salazar - Belén Domínguez - Patricio Navarrete</p>
          
  </footer>
</div>





    <!-- Scripts  -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" 
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" 
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" 
    crossorigin="anonymous"></script>


  </body>
</html>