<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
  <!--metadatos-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--fuente google fonts-->

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!--mi estilo css-->
  <link type="text/css" rel="stylesheet" href="{% static 'prueba3/css/estilo.css' %}">

  <!--Favicon-->
  <link rel="icon" href="{% static 'prueba3/img/huella.png' %}">


  <!-- iconos -->
  <link href="{% static 'prueba3/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/solid.css' %}" rel="stylesheet">

  <title>Home - Jungle Crew</title>

</head>

<!--Comienzo body-->

<body>

  <!--nav bar-->

<nav class="navbar navbar-expand-lg navbar-custom menufont fixed-top">
    <div class="container-md">

      <!--Logo-->
      <a class="navbar-brand">
        <i width="30" height="25" class="fa-solid fa-paw d-inline-block align-text-top"></i>
      </a>

      <!--Menu-->
      <a class="navbar-brand">Jungle Crew</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--opciones menu-->

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disable" aria-current="page">Inicio</a>
          </li>
          <!--menu desplegable-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ¡Conócenos!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./quienessomos.html">Quienes somos.</a>
              <a class="dropdown-item" href="./mision.html">Nuestra misión</a>
              <a class="dropdown-item" href="./vision.html">Nuestra visión.</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./galeria.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./adoptados.html">Perritos Adoptados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./formulario.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./registrousuario.html">Registratre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./mostrardatos.html">Usuarios</a>
          </li>
        </ul>
      </div>

    </div>
</nav>

  <!--fin menu-->

  <!-- Aquí va el contenido -->

  <!--COMIENZO CARRUSEL-->
<section id="about">
    <div class="container-lg ">
      <div class="row">
        <div class="col">
          <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel "  data-bs-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="img-fluid" src="{% static 'prueba3/img/banner1.jpg' %}" class="d-block w-100" alt="...">
                </div>
          
                <div class="carousel-item">
                  <img class="img-fluid" src="{% static 'prueba3/img/banner2.jpg' %}" class="d-block w-100" alt="...">
                </div>
          
                <div class="carousel-item">
                  <img class="img-fluid" src="{% static 'prueba3/img/banner3.jpg' %}" class="d-block w-100" alt="...">
                </div>
          
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
          
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          
            </div>  
          </div>
        </div>
      </div>
    </div>
</section>
    


  <!--fin carrusel-->

  <!--foto 1 y texto 1-->


<section id="about">
      <div class="container">
          <div class="row align-items-center gy-5">
              <div class="col-lg-5">
                  <img class="img-fluid"src="{% static 'prueba3/img/perro1home.jpg' %}" alt="">
              </div>
              <div class="col-lg-5 offset-lg-1">
                  <h6>Sobre nuestra meta:</h6>
                  <h1 class="mt-2 mb-4">¡Ven, ayudanos a contribuir!</h1>
                  <p class="mb-4">De manera concreta, ética y eficaz a la reducción del abandono, sobrepoblación y maltrato animal. A su vez, promover, concientizar y educar a la comunidad en materia de tenencia responsable de animales a través de las esterilizaciones como principal eje de control y prevención de la sobrepoblación.</p>
                  <p>Cada vez que compras en Jungle Crew, lo recaudado se dona a Fundación Quiltritos para costear la seguridad y salud de animales en situación de abandono.</p>
                  <a href="https://fundacionquiltro.org/" class="btn btn-primary">¡Visita la Fundación Quiltro!</a>
              </div>
          </div>
      </div>
</section>




  
  <!--foto 2 y texto 2-->
  
<section id="about" class="pb">
    <div class="container">
        <div class="row align-items-center gy-5">
            <div class="col-lg-5">
                <img class="img-fluid" src="{% static 'prueba3/img/gatoHome.jpg' %}" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h6>Cuidemos a los animales</h6>
                <h1 class="mt-2 mb-4">¡Trabajando para ellos!</h1>
                <p class="mb-4">Trabajamos esterilizando perros y gatos, machos y hembras para prevenir que las hembras queden preñadas y que los machos preñen a las hembras.</p>
                <p class="mb-4">TNR: Trap – Neuter – Return (Capturar – Esterilizar – Devolver) es un método ético de control demográfico, capturando, esterilizando y retornando a los animales al lugar donde fueron encontrados; y Operativos de esterilización a bajo costo, subsidiando esterilizaciones, o gratuitamente, en localidades sin acceso al servicio, a través de intervenciones en el lugar, previa organización y compromiso entre la fundación y la comunidad.
                </p>
                <a href="#" class="btn btn-primary">¡Explora nuestro trabajo!</a>
            </div>
        </div>
    </div>
</section>

<!-- Aquí termina el contenido -->

<!--footer-->
<div class="footer-basic fondonaranjo">
  <footer>

    <a href="index.html">
      <h1 class="text-center"> <i class="fa-solid fa-paw"></i> Jungle Crew </h1>
    </a>

      <ul class="list-inline">
        <li class="list-inline-item"><a href="index.html">INICIO</a></li>
        <li class="list-inline-item"><a href="quienessomos.html">QUIENES SOMOS</a></li>
        <li class="list-inline-item"><a href="vision.html">NUESTRA VISIÓN</a></li>
        <li class="list-inline-item"><a href="mision.html">NUESTRA MISIÓN</a></li>
        <li class="list-inline-item"><a href="galeria.html">PRODUCTOS</a></li>
      </ul>

      <div class="social">
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
      </div>

      <p class="copyright">Derechos reservados © 2020</p>
      <p class="copyright">Jordan Flores - Ignacio Salazar - Belén Domínguez - Patricio Navarrete</p>
  </footer>
</div>
  
<!-- Scripts  -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>



</body>

</html>
