<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
  <!--metadatos-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!--mi estilo css-->
  <link type="text/css" rel="stylesheet" href="{% static 'prueba3/css/estilo.css' %}">

  <!--Favicon-->
  <link rel="icon" href="{% static 'prueba3/img/huella.png' %}">


  <!-- iconos -->
  <link href="{% static 'prueba3/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/brands.css'  %}" rel="stylesheet">
  <link href="{% static 'prueba3/css/solid.css' %}" rel="stylesheet">

  <title>Formulario - Jungle Crew</title>

</head>

<!--Comienzo body-->

<body>

  <!--nav bar-->

  <nav class="navbar navbar-expand-lg navbar-custom menufont fixed-top">
    <div class="container-md">

      <!--Logo-->
      <a class="navbar-brand">
        <i width="30" height="25" class="fa-solid fa-paw d-inline-block align-text-top"></i>
      </a>

      <!--Menu-->
      <a class="navbar-brand">Jungle Crew</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--opciones menu-->

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html" >Inicio</a>
          </li>
          <!--menu desplegable-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ¡Conócenos!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="./quienessomos.html">Quienes somos.</a>
              <a class="dropdown-item" href="./mision.html">Nuestra misión</a>
              <a class="dropdown-item" href="./vision.html">Nuestra visión.</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./galeria.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./adoptados.html">Perritos Adoptados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./formulario.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disable" >Registratre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./mostrardatos.html">Usuarios</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>


  <!--fin menu-->

  <!-- Aquí va el contenido -->

<section id="about">
  <div class="container">
      <div class="row align-items-center gy-5 img-fluid">

          <div class="col-lg-5">
            <img class="img-fluid" src="{% static 'prueba3/img/quienessomos.jpg' %}" alt="">
          </div>

          <div class="col-lg-5 offset-lg-1">
            <h1>REGISTRO USUARIO</h1>

            {% block content %}
            <form class="row g-3" method="post" action="" id="formulario">
            {% csrf_token %}
              <div class="col-md-4 form-group">
            
                <label for="firstName" class="form-label">Primer Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="Ingrese Nombre" minlength="3" maxlength="40" required pattern="[A-Za-z]+" required name="{{form.pnombre.name}}">
              </div>
        
              <div class="col-md-4">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="firstName" placeholder="Ingrese Apellido" minlength="3" maxlength="40" required pattern="[A-Za-z]+" required name="{{form.apellido.name}}">
              </div>
        
              <div class="col-md-4">
                <label for="emailInfo" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="emailInfo" placeholder="Ingrese E-mail" required name="{{form.email.name}}">
              </div>

              <div class="col-md-4">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="Ingrese Contraseña" required name="{{form.contraseña.name}}">
              </div>

              <div class="col-md-4">
                <label for="rut" class="form-label">Rut</label>
                <input type="text" class="form-control" id="rut" name="rut" required oninput="checkRut(rut)" placeholder="Ingrese RUT" name="{{form.rut.name}}">
                <script src="{% static 'prueba3/js/validarRUT.js' %}"></script>
              </div>

              <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="+(569) 54542878" pattern="\x2b[0-9]+" required name="{{form.telefono.name}}">
              </div>
              <div class="col-md-4">
                <label for="street-address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="street-address" placeholder="Calle #N°casa/dpto" required name="{{form.Direccion.name}}">
              </div>
              <div class="col-md-4">
                <label for="region" class="form-label">Región</label>
                <input list="Regiones" class="form-control" id="region"  placeholder="Seleccione su región" required name="{{form.region.name}}">
                <datalist id="Regiones" >
                  <option value="Arica y Parinacota">
                  <option value="Tarapaca">
                  <option value="Antofagasta">
                  <option value="Atacama">
                  <option value="Coquimbo">
                  <option value="Valparaiso"> 
                  <option value="Metropolitana">
                  <option value="O´higgins">
                  <option value="Maule">
                  <option value="Ñuble">
                  <option value="Bío Bío">
                  <option value="Araucanía">      
                  <option value="Los Rios">
                  <option value="Los Lagos">
                  <option value="Áysen">
                  <option value="Magallanes">   
                  </datalist>   
              </div>
              <div class="col-md-4">
                <label for="Comuna" class="form-label">Comuna</label>
                <input list="Comunas" class="form-control" id="Comuna" placeholder="Seleccione su Comuna" required name="{{form.comuna.name}}">
                <datalist id="Comunas" >
                  <option value="Arica">
                  <option value="Camarones">
                  <option value="General Lagos">
                  <option value="Putre">
                  <option value="Alto Hospicio">
                  <option value="Camiña"> 
                  <option value="Colchane">
                  <option value="Huara">
                  <option value="Iquique">
                  <option value="Pica">
                  <option value="Pozo Almonte">
                  <option value="Antofagasta">      
                  <option value="Calama">
                  <option value="Maria Elena">
                  <option value="Mejillones">
                  <option value="Ollague">
                  <option value="San Pedro de Atacama">
                  <option value="Sierra Gorda">
                  <option value="Taltal">
                  <option value="Tocopilla">
                  <option value="Alto del Carmen">
                  <option value="Caldera">
                  <option value="Chañaral">
                  <option value="Copiapó">
                  <option value="Diego de Almagro">
                  <option value="Freirina">
                  <option value="Huasco">
                  <option value="Tierra Amarilla">
                  <option value="Vallenar">
                  <option value="Andacollo">
                  <option value="Canela">
                  <option value="Combarbalá">
                  <option value="Coquimbo">
                  <option value="Illapel">
                  <option value="La Higuera">
                  <option value="La Serena">
                  <option value="Los Vilos">
                  <option value="Monte Patria">
                  <option value="Ovalle">
                  <option value="Paihuano">
                  <option value="Punitaqui">
                  <option value="Rio Hurtado">
                  <option value="Salamanca">
                  <option value="Vicuña">
                  <option value="Algarrobo">
                  <option value="Cabildo">                    
                  <option value="Calera">
                  <option value="Calle Larga">
                  <option value="Cartagena">
                  <option value="Santiago">
                  <option value="Maipú">
                  <option value="La Cisterna">
                  <option value="San Ramón">                    
                  <option value="Pelotillehue">
                  <option value="Padre Hurtado">
                  <option value="Chuchunco city">
                  <option value="La Pintana">
                  
                
                  </datalist>
              </div>
        
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" value="create">Registrar</button>
                <button type="reset" class="btn btn-primary">Limpiar</button>
              </div>
              <div class="alert alert-success" role="alert">
                {{mensaje}}
              </div>
            </form>
            {% endblock %}
          </div>
      </div>
  </div>
</section>



 


    <!-- Aquí termina el contenido -->

    <!--footer-->
<div class="footer-basic fondonaranjo">
      <footer>
    
        <a href="index.html">
          <h1 class="text-center"> <i class="fa-solid fa-paw"></i> Jungle Crew </h1>
        </a>
    
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html">INICIO</a></li>
            <li class="list-inline-item"><a href="quienessomos.html">QUIENES SOMOS</a></li>
            <li class="list-inline-item"><a href="vision.html">NUESTRA VISIÓN</a></li>
            <li class="list-inline-item"><a href="mision.html">NUESTRA MISIÓN</a></li>
            <li class="list-inline-item"><a href="galeria.html">PRODUCTOS</a></li>
          </ul>
    
          <div class="social">
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
          </div>
    
          <p class="copyright">Derechos reservados © 2020</p>
          <p class="copyright">Jordan Flores - Ignacio Salazar - Belén Domínguez - Patricio Navarrete</p>
      </footer>
</div>

  

  
    <!-- Scripts  -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>

 

      

</body>

</html>
